BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
ColumnLimit: 100
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
IndentCaseLabels: false
InsertNewlineAtEOF: true
KeepEmptyLinesAtEOF: true

